/****************************************/
/************ NAVIGATION BAR ************/
/****************************************/

.nav-bar {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.2rem;
}

.logo-image {
  height: 6.4rem;
  display: inline-block;
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: #110000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.9rem;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-link-icon {
  font-size: 1.9rem;
}

.nav-link:hover,
.nav-link:active {
  color: #d03923;
}

.drop-down .nav-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.drop-down-links {
  background-color: #fff;
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 2.4rem;
  position: absolute;
  transform: translateX(-15%);
  transition: all 0.3s;
  padding: 2rem 2.4rem;
}

.drop-down:hover .drop-down-links {
  display: flex;
}

.login-btn {
  background-color: #d03923;
  color: #fff;
  padding: 1.5rem 3.2rem;
  border: none;
  border-radius: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #af1c1c;
}

/**************************************/
/************ SECTION HERO ************/
/**************************************/

.section-hero {
  padding: 9.6rem 0;
  background-image: linear-gradient(
      rgba(78, 91, 166, 0.6),
      rgba(166, 3, 3, 0.5)
    ),
    url(../Images/hero-image.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-wrapper {
  text-align: center;
  max-width: 80rem;
  color: #fff;
}

.hero-description {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.6;
}

/**********************************/
/**********SECTION-VISION**********/
/**********************************/

.section-vision {
  padding: 12.8rem 0;
  background-color: #f6e6e6;
}

.vision-intro-text {
  font-size: 2.3rem;
  line-height: 1.6;
  text-align: center;
  color: #110000;
}

.vision-wrapper {
  display: grid;
  grid-template-columns: 45fr 55fr;
  gap: 3.6rem;
}

.founder-image-wrapper {
  text-align: center;
  overflow: hidden;
  width: 70%;
  box-shadow: 0 0 0.8rem #af1c1c;
  border-radius: 2rem;
  padding: 2.4rem;
  background-color: #fff;
  align-self: center;
  align-self: flex-end;
}

.founder-image {
  display: inline-block;
  width: 100%;
  border-radius: 2rem;
}

.founder-name {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.6rem;
}

.founder-life {
  font-size: 1.6rem;
  font-weight: 600;
}

.founder-quotes {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.founder-quote {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 2.4rem 4.8rem;
  background-color: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.8rem rgba(17, 0, 0, 0.9);
}

.nss-image-wrapper {
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.nss-image {
  width: 100%;
  border-radius: 1.6rem;
}

/***********************************/
/**********SECTION-JOURNEY**********/
/***********************************/

.section-journey {
  padding: 12.8rem 0;
}

.journey-list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}

.journey-item-wrapper {
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 0.8rem rgba(17, 0, 0, 0.9);
  padding: 3.6rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.journey-year {
  font-size: 4.8rem;
  font-weight: 700;
  padding-bottom: 1.2rem;
  color: #db9a9a;
}

.journey-title {
  font-size: 2.8rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
}

.journey-description {
  font-size: 1.9rem;
  line-height: 1.7;
  padding-bottom: 1.9rem;
}

.journey-image {
  width: 100%;
  border-radius: 2rem;
  aspect-ratio: 3/2;
  object-fit: cover;
}

/***********************************/
/**********SECTION-CONTACT**********/
/***********************************/

.section-contacts {
  padding: 12.8rem 0;
  background-color: #f6e6e6;
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.team {
  padding: 4.8rem;
  border-radius: 2rem;
  position: relative;
  background-color: #fff;
}

.team-name {
  font-size: 2.3rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.1px;
  padding-bottom: 3.2rem;
}

.profile-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

.profile-card {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 0.8rem rgba(17, 0, 0, 0.9);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  overflow: hidden;
  display: block;
}

.profile-image-wrapper {
  background: #d03923;
  padding: 25% 0;
  position: relative;
}

.profile-image {
  display: inline-block;
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 59%;
  object-position: center 0.02px;
  object-fit: cover;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  padding: 0.4rem;
  box-shadow: 0 0 0.8rem rgba(17, 0, 0, 0.3);
}

.profile-text-wrapper {
  padding: 8rem 0 4.8rem 0;
}

.profile-name {
  font-size: 2.3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.profile-role {
  font-size: 1.9rem;
  font-weight: 600;
  padding-bottom: 2.4rem;
}

.profile-contact:link,
.profile-contact:visited {
  background-color: #d03923;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.9rem;
  font-weight: 500;
  border-radius: 0.8rem;
}

.profile-contact:hover,
.profile-contact:active {
  background-color: #af1c1c;
  color: #fff;
}

.slider-btn {
  font-size: 4.8rem;
  color: #d03923;
  border: none;
  z-index: 1;
  background-color: transparent;
  transition: all 0.3s;
}

.slider-btn:hover {
  color: #af1c1c;
  cursor: pointer;
}

.left-btn {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  top: 50%;
}

.right-btn {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  top: 50%;
}

/***********************************/
/**********SECTION-FOOTER**********/
/***********************************/

.section-footer {
  padding: 12.8rem 0 0rem 0;
}

.section-footer .wrapper {
  max-width: 96rem;
}

.footer-contents {
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 0.5fr;
  column-gap: 2.4rem;
  row-gap: 4.8rem;
  align-items: start;
}

.footer-image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.footer-image {
  width: 9.6rem;
  height: 9.6rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 0.2rem rgba(17, 0, 0, 0.9);
}

.footer-image-description {
  font-size: 2.3rem;
  font-weight: 700;
}

.footer-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.copy-wrapper {
  grid-column: span 3;
}

.copy {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #d03923;
}

.footer-title {
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #110000;
}

.footer-link:hover,
.drop-down:active {
  color: #d03923;
}
